<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Imperial Boootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">



  </head>
  <body>
  <!-- slider-->

    <div id="slider-container">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/freeconsultation.png">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home7a.png">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home2.jpg">
      <button class="btn" onclick="plusIndex(-1)" id="btn1">&#10094</button>
      <button class="btn" onclick="plusIndex(1)" id="btn2">&#10095</button>
    </div>

  <!--==========================
  Services Section
============================-->
<section id="services">
  <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/cru-logo_single.png" alt="" />
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/webdev.png" alt="" />
          <h1 id="color-2">Web Development</h1>
          <p id="color-2">Design beautiful, responsive website and deliver a consistent user experience</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/mobileapps.png" alt="" />
          <h1 id="color-3">MOBILE APPLICATION</h1>
          <p id="color-3">Responsive mobile application means a consistentexperience for users,wherever they are</p>
        </a>
      </div>
    </li>
    <li class="hex">
     <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/seo.png" alt="" />
          <h1 id="color-4">SEO</h1>
          <p id="color-4">Get you on the Front Page of Google, Bing, and Yahoo</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/analytics.png" alt="" />
          <h1 id="color-5">Analytics</h1>
          <p id="color-5">Insight about traffic and marketing effectiveness</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" id="services-logo">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/services.png" alt="" />
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/cloudsolutions.png" alt="" />
          <h1 id="color-7">Cloud Solutions</h1>
          <p id="color-7">The most cost-effective solution</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/adwords.png" alt="" />
          <h1 id="color-8">Adwords</h1>
          <p id="color-8">Run ads for your business on Google and its advertising partner</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/digitalsolution.png" alt="" />
          <h1 id="color-9">Digital Solutions</h1>
          <p id="color-9">Streamline you day-to- day operations and activities</p>
        </a>
      </div>
    </li>
  </ul>
</section>

<!--==========================
  Custom craft digital solutions
============================
<section id="custom-craft-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="custom-title">
          <h1>Custom Crafted Digital Solutions</h1>
        </div>
        <div class="border"></div>
        <div class="custom-description">
          <h1>Your brand is unique - so let us develop a custom-tailored solution for your brand.
          We’ll offer solutions that are inline with your business goals, and nothing else.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="custom-craft-buttom">
  <div class="container">
    <div class="row">
      <div class="custom-section">
        <div class="col-md-3 col-sm-height col-top">
          <div class="custom-menu">
            <ul role="tablist">
              <p>OUR APPROACH</p>
                <li class="active">
                  <a href="#discovery-tab" aria-controls="discovery" role="tab" aria-selected="true" id="discovery-tab" style="font-weight: bold">Discovery</a>
                </li>
                <li>
                  <a href="#strategy-tab" aria-controls="strategy" role="tab" aria-selected="false" id="strategy-tab-tab">Strategy</a>
                </li>
                <li>
                  <a href="#design-tab" aria-controls="design" role="tab" aria-selected="false" id="design-tab-tab">Design</a>
                </li>
                <li>
                  <a href="#execute-tab" aria-controls="execute" role="tab" aria-selected="false" id="execute-tab-tab">Execute</a>
                </li>
            </ul>    
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div role="tabpanel" id="discovery" aria-labelledby="discovery-tab" >
              <div class="row">
                <div class="row-same-height">
                  <p>There's no such thing as 'one-size-fits-all' in our dictionary.To do it right, and to get the results you're after, we need to have an in-depth understanding of your business and goals. Only then can we truly recognize what opportunities you can maximize; notably, most efficient and optimum solution just for your brand. The discovery stage includes the following activities: </p>
                  <ul>
                    <li>
                      <p>Business case and analysis</p>
                    </li>
                    <li>
                      <p>Competitive analysis</p>
                    </li>
                    <li>
                      <p>Requirements development</p>
                    </li>
                    <li>
                      <p>Identify linkable assets</p>
                    </li>
                    <li>
                      <p>Relationship assessment</p>
                    </li>
                    <li>
                      <p>On-site link analysis</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div role="tabpanel" id="strategy" aria-labelledby="strategy-tab" style="display: none" >
              <div class="row">
                <div class="row-same-height">
                  <p>This is where we create a blueprint for your brand and ensure everything will be executed effectively and efficiently. Our strategy is lean-approach and clearly communicates our plans and solutions. It covers all goals, planned activities, priorities, deliverables and timeframes:</p>
                  <ul>
                    <li>
                      <p>Information Architecture (IA)</p>
                    </li>
                    <li>
                      <p>Content strategy</p>
                    </li>
                    <li>
                      <p>Google Webmaster Tools</p>
                    </li>
                    <li>
                      <p>Identify linkable assets</p>
                    </li>
                    <li>
                      <p>Internal external linking</p>
                    </li>
                    <li>
                      <p>URL to phrase matching</p>
                    </li>
                    <li>
                      <p>Canonical setup</p>
                    </li>
                    <li>
                      <p>Internationalization (if required)</p>
                    </li>
                    <li>
                      <p>Project timeline</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div role="tabpanel" id="design" aria-labelledby="design-tab" style="display: none" >
              <div class="row">
                <div class="row-same-height">
                  <p>Our cru will then work together to create a beautiful, high-converting design that brings your brand to life online.We will blend user needs and your business goals into intuitive digital experiences; creating a consistent experience for users, wherever they area. A design with purpose.</p>
                  <ul>
                    <li>
                      <p>User interface</p>
                    </li>
                    <li>
                      <p>User experience</p>
                    </li>
                    <li>
                      <p>Colours</p>
                    </li>
                    <li>
                      <p>Typography</p>
                    </li>
                    <li>
                      <p>Unique features for your unique branding</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div role="tabpanel" id="execute" aria-labelledby="execute-tab" style="display: none" >
              <div class="row">
                <div class="row-same-height">
                  <p>Even the best laid plans are only as good as their execution. With crubiks, we will make sure that we set you up for success not only during but after the execution; because by this time, you are already one of us. Our embedded tools will generate results you can measure and actionable insights.Our package includes:</p>
                  <ul>
                    <li>
                      <p>Reporting tracking</p>
                    </li>
                    <li>
                      <p>Competitor tracking</p>
                    </li>
                    <li>
                      <p>SEO-friendly marketing policies</p>
                    </li>
                    <li>
                      <p>Link building campaign</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>
-->
<!--==========================
  Custom craft digital solutions
============================-->
<section id="custom-craft-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="custom-title">
          <h1>Custom Crafted Digital Solutions</h1>
        </div>
        <div class="border"></div>
        <div class="custom-description">
          <h1>Your brand is unique - so let us develop a custom-tailored solution for your brand.
          We’ll offer solutions that are inline with your business goals, and nothing else.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="custom-craft-buttom">
  <div class="container">
    <div class="row">
      <div class="custom-section">
        <div class="col-md-3 col-sm-height col-top">
          <div class="custom-menu">
            <ul role="tablist">
              <p>OUR APPROACH</p>
                <li class="active">
                  <a href="#menu1" data-toggle="tab">Discovery</a>
                </li>
                <li>
                  <a href="#menu2" data-toggle="tab">Strategy</a>
                </li>
                <li>
                  <a href="#menu3" data-toggle="tab">Design</a>
                </li>
                <li>
                  <a href="#menu4" data-toggle="tab">Execute</a>
                </li>
            </ul>    
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div class="row">
                <div class="row-same-height">
                  <p>There's no such thing as 'one-size-fits-all' in our dictionary.To do it right, and to get the results you're after, we need to have an in-depth understanding of your business and goals. Only then can we truly recognize what opportunities you can maximize; notably, most efficient and optimum solution just for your brand. The discovery stage includes the following activities: </p>
                  <ul>
                    <li>
                      <p>Business case and analysis</p>
                    </li>
                    <li>
                      <p>Competitive analysis</p>
                    </li>
                    <li>
                      <p>Requirements development</p>
                    </li>
                    <li>
                      <p>Identify linkable assets</p>
                    </li>
                    <li>
                      <p>Relationship assessment</p>
                    </li>
                    <li>
                      <p>On-site link analysis</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade"  >
              <div class="row">
                <div class="row-same-height">
                  <p>This is where we create a blueprint for your brand and ensure everything will be executed effectively and efficiently. Our strategy is lean-approach and clearly communicates our plans and solutions. It covers all goals, planned activities, priorities, deliverables and timeframes:</p>
                  <ul>
                    <li>
                      <p>Information Architecture (IA)</p>
                    </li>
                    <li>
                      <p>Content strategy</p>
                    </li>
                    <li>
                      <p>Google Webmaster Tools</p>
                    </li>
                    <li>
                      <p>Identify linkable assets</p>
                    </li>
                    <li>
                      <p>Internal external linking</p>
                    </li>
                    <li>
                      <p>URL to phrase matching</p>
                    </li>
                    <li>
                      <p>Canonical setup</p>
                    </li>
                    <li>
                      <p>Internationalization (if required)</p>
                    </li>
                    <li>
                      <p>Project timeline</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade" >
              <div class="row">
                <div class="row-same-height">
                  <p>Our cru will then work together to create a beautiful, high-converting design that brings your brand to life online.We will blend user needs and your business goals into intuitive digital experiences; creating a consistent experience for users, wherever they area. A design with purpose.</p>
                  <ul>
                    <li>
                      <p>User interface</p>
                    </li>
                    <li>
                      <p>User experience</p>
                    </li>
                    <li>
                      <p>Colours</p>
                    </li>
                    <li>
                      <p>Typography</p>
                    </li>
                    <li>
                      <p>Unique features for your unique branding</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div id="menu4" class="tab-pane fade" >
              <div class="row">
                <div class="row-same-height">
                  <p>Even the best laid plans are only as good as their execution. With crubiks, we will make sure that we set you up for success not only during but after the execution; because by this time, you are already one of us. Our embedded tools will generate results you can measure and actionable insights.Our package includes:</p>
                  <ul>
                    <li>
                      <p>Reporting tracking</p>
                    </li>
                    <li>
                      <p>Competitor tracking</p>
                    </li>
                    <li>
                      <p>SEO-friendly marketing policies</p>
                    </li>
                    <li>
                      <p>Link building campaign</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  /*Discovery, Strategy, Design, Execute script*
  var tabs = document.querySelectorAll('[role=tab]'); //get all role=tab elements as a variable
for (i = 0; i < tabs.length; i++) { tabs[i].addEventListener("click", showTabPanel); } //add click event to each tab to run the showTabPanel function 
function showTabPanel(el) { //runs when tab is clicked
var tabs2 = document.querySelectorAll('[role=tab]'); //get tabs again as a different variable 
for (i = 0; i < tabs2.length; i++) {tabs2[i].setAttribute('aria-selected','false');tabs2[i].setAttribute('style','font-weight:normal','transition:0.5s');} //reset all tabs to aria-selected=false and normal font weight
el.target.setAttribute('aria-selected', 'true'); //set aria-selected=true for clicked tab
el.target.setAttribute('style', 'font-weight:bold'); //make clicked tab have bold font
var tabPanelToOpen = el.target.getAttribute('aria-controls'); //get the aria-controls value of the tab that was clicked
var tabPanels = document.querySelectorAll('[role=tabpanel]'); //get all tabpanels as a variable
for (i = 0; i < tabPanels.length; i++) { tabPanels[i].style.display = "none"; } //hide all tabpanels
document.getElementById(tabPanelToOpen).style.display = "block"; //show tabpanel who's tab was clicked
}
/
</script>

<script>
  /*slider script*/
  var index= 1;

  function plusIndex(n){
    index = index + n;
    showImage(index);
  }

  showImage(1);

  function showImage(n){
    var i;
    var x = document.getElementsByClassName("slides");
    if(n > x.length){index = 1};
    if(n <1){index = x.length};
    for(i=0;i<x.length;i++){
      x[i].style.display="none";
    }
    x[index-1].style.display= "block";
  }

  autoSlide();
  function autoSlide(){
  var i;
  var x = document.getElementsByClassName("slides");
  for(i=0;i<x.length;i++){
        x[i].style.display="none";
      }
   if(index > x.length){index = 1}
   x[index-1].style.display= "block";
   index++;
   setTimeout(autoSlide,2000);
  }
</script>
</html>
