<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Imperial Boootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">



  </head>
  <body>
  <!-- slider-->

    <div id="slider-container">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/freeconsultation.png">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home7a.png">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home2.jpg">
      <button class="btn" onclick="plusIndex(-1)" id="btn1">&#10094</button>
      <button class="btn" onclick="plusIndex(1)" id="btn2">&#10095</button>
    </div>

  <!--==========================
  Services Section
============================-->
  <section id="services">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title"></h3>
            <div class="section-title-divider"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <a class="services-item">
              <div class="detail">
               <h1>Services</h1>

               </div>
            </a>
          </div>

         <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/adwords1.png);" href="https://crubiks-web.herokuapp.com/adwords-1">
              <div class="detail">
                <h4>Adwords</h4>
                <h5>Run ads for your bussiness in Google and it's advertisement partner</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/analytics.png);" href="https://crubiks-web.herokuapp.com/analytic-1">
              <div class="detail">
                <h4>Analytics</h4>
                <h5>Insight about traffic and marketing effectiveness of your websites</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/cloudsolutions.png);" href="https://crubiks-web.herokuapp.com/cloudsolutions-1">
              <div class="detail">
                <h4>Cloud Solutions</h4>
                <h5>Cost-effective solution for web development</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/digitalsolution.png);" href="https://crubiks-web.herokuapp.com/digital-1">
              <div class="detail">
                <h4>Digital Workspace Solution</h4>
                <h5>Streamline operations and day-to-day activities</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/mobileapp.png);" href="https://crubiks-web.herokuapp.com/mobileapps-1">
              <div class="detail">
                <h4>Mobile Apps</h4>
                <h5>Responsive mobile application means a consistentexperience for users, wherever they are</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/seo.png);" href="https://crubiks-web.herokuapp.com/seo-1">
              <div class="detail">
                <h4>SEO</h4>
                <h5>Get you on the front page of Google to increase exposure</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/webdev.png);" href="https://crubiks-web.herokuapp.com/webdev-1">
              <div class="detail">
                <h4>Web Development</h4>
                <h5>Design and develop meaningful and functional websites</h5>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

<!--==========================
  Free consultation
============================-->
  <section id="free-consultation">
    <div class="row">
      <div class="box left">
        <div class="grid-block">
          <div class="grid-item">
            <h1>FREE</h1>
            <h2>CONSULTATION</h2>
            <div class="free-consultation-item">
              <h3>Contact Us:</h3>
              <h4>Crubiks</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="box right">
        <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/freeconsultation.png">
      </div>
    </div>
  </section>
  
  <section id="consultation-text-right">
    <div class="row">
      <div clas="square l">
        
      </div>
      <div class="square r">
        <h5>Do you need help to create an efficient design and build a solid trust between your visitors and your brand?</h5>
      </div>
    </div>
  </div>
</section>


</body>
<script>
  /*slider script*/
  var index= 1;

  function plusIndex(n){
    index = index + n;
    showImage(index);
  }

  showImage(1);

  function showImage(n){
    var i;
    var x = document.getElementsByClassName("slides");
    if(n > x.length){index = 1};
    if(n <1){index = x.length};
    for(i=0;i<x.length;i++){
      x[i].style.display="none";
    }
    x[index-1].style.display= "block";
  }

  autoSlide();
  function autoSlide(){
  var i;
  var x = document.getElementsByClassName("slides");
  for(i=0;i<x.length;i++){
        x[i].style.display="none";
      }
   if(index > x.length){index = 1}
   x[index-1].style.display= "block";
   index++;
   setTimeout(autoSlide,2000);
  }
</script>
</html>
