<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Imperial Boootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">



  </head>
  <body>
  <!-- slider-->

    <div id="slider-container">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/freeconsultation.png">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home7a.png">
      <img class="slides" src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home2.jpg">
      <button class="btn" onclick="plusIndex(-1)" id="btn1">&#10094</button>
      <button class="btn" onclick="plusIndex(1)" id="btn2">&#10095</button>
    </div>

  <!--==========================
  Services Section
============================-->
  <section id="services">
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/cru-logo_single.png" alt="" />
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/webdev.png" alt="" />
            <h1 id="color-2">Web Development</h1>
            <p id="color-2">Design beautiful, responsive website and deliver a consistent user experience</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/mobileapps.png" alt="" />
            <h1 id="color-3">MOBILE APPLICATION</h1>
            <p id="color-3">Responsive mobile application means a consistentexperience for users,wherever they are</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/seo.png" alt="" />
            <h1 id="color-4">SEO</h1>
            <p id="color-4">Get you on the Front Page of Google, Bing, and Yahoo</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/analytics.png" alt="" />
            <h1 id="color-5">Analytics</h1>
            <p id="color-5">Insight about traffic and marketing effectiveness</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" id="services-logo" href="">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/services.png" alt="" />
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/cloudsolutions.png" alt="" />
            <h1 id="color-7">Cloud Solutions</h1>
            <p id="color-7">The most cost-effective solution</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/adwords.png" alt="" />
            <h1 id="color-8">Adwords</h1>
            <p id="color-8">Run ads for your business on Google and its advertising partner</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/revisi2/digitalsolution.png" alt="" />
            <h1 id="color-9">Digital Solutions</h1>
            <p id="color-9">Streamline you day-to- day operations and activities</p>
          </a>
        </div>
      </li>
    </ul>
    </section>

<!--==========================
  Custom craft digital solutions
============================-->
  <section id="custom-craft">
    <div class="container">
      <div class="custom-content">
        <div class="custom-title">
          <h1>Custom Crafted Digital Solutions</h1>
        </div>
        <div class="border"></div>
        <div class="custom-description">
          <h1>Your brand is unique - so let us develop a custom-tailored solution for your brand.
          We’ll offer solutions that are inline with your business goals, and nothing else.</h1>
        </div>
        <div class="custom-section">
          <div class="left-menu">
            <div class="custom-menu">
              <ul>
                  <p>OUR APPROACH</p>
                <li>
                  <a href="#">Discovery</a>
                </li>
                <li>
                  <a href="#">Strategy</a>
                </li>
                <li>
                  <a href="#">Design</a>
                </li>
                <li>
                  <a href="#">Execute</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="right-content">
            <div class="right-content-wrapper">
            <div class="discovery-content">
              <p>There's no such thing as 'one-size-fits-all' in our dictionary.To do it right, and to get the results you're after, we need to have an in-depth understanding of your business and goals. Only then can we truly recognize what opportunitiesyou can maximize; notably, most efficient and optimum solution just for your brand.The discovery stage includes the following activities:</p>
              <li>Business case and analysis</li>
              <li>Competitive analysis</li>
              <li>Requirements development</li>
              <li>Identify linkable assets</li>
              <li>Relationship assessment</li>
              <li>On-site link analysis</li>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
</section>


</body>
<script>
  /*slider script*/
  var index= 1;

  function plusIndex(n){
    index = index + n;
    showImage(index);
  }

  showImage(1);

  function showImage(n){
    var i;
    var x = document.getElementsByClassName("slides");
    if(n > x.length){index = 1};
    if(n <1){index = x.length};
    for(i=0;i<x.length;i++){
      x[i].style.display="none";
    }
    x[index-1].style.display= "block";
  }

  autoSlide();
  function autoSlide(){
  var i;
  var x = document.getElementsByClassName("slides");
  for(i=0;i<x.length;i++){
        x[i].style.display="none";
      }
   if(index > x.length){index = 1}
   x[index-1].style.display= "block";
   index++;
   setTimeout(autoSlide,2000);
  }
</script>
</html>
