<section id="services-menu">
  <div class="services-menu-image"> <!--this is template image you can change it in every other services pages-->
    <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/ServicesBg.jpg">
  </div>
  <div class="container-buttons">
  <div class="row">
    <div class="box1-buttons">
    <a href="http://localhost:3000/adwords-1"><button>Adwords</button></a>
         <a href="http://localhost:3000/analytic-1"><button>Analytic</button></a>
         <a href="http://localhost:3000/cloudsolutions-1"><button>Cloud Solution</button></a>
         <a href="http://localhost:3000/digital-1"><button>Digital Workspace Solution</button></a>
         <a href="http://localhost:3000/mobileapp-1"><button>Mobile apps</button></a>
         <a href="http://localhost:3000/seo-1"><button>SEO</button></a>
         <a href="http://localhost:3000/webdev-1"><button>Web Development</button></a>
       </div>
  </div>
</div>
</section>   

<!--==========================
  Analytics
============================-->
<section id="analytic">
  <div class="box1">
    <div class="grid-block">
      <div class="grid-item">
        <h1>Analytics</h1>
        <div class="grid-item2">
          <h2>Marketers have more data at their fingertips than ever before, giving them insight into
              every step of the customer journey. According to a new Harvard Business Review report,
              using this data to improve the customer experience is key to creating a competitive
              advantage in today’s market</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="box2">
    <h3>What We Do?</h3>
    <br>
    <h4>The only way to be sure of how your users interact with your content is to analyse
        their behavior while they are on your website. We use unique and efficient tools to
        measure the efficiency of your website. Then we compare the results with the
        modifications done and make sure that we’re going in the right direction.</h4>
  </div>
</section>
