<section id="services-menu">
	<div class="services-menu-image"> <!--this is template image you can change it in every other services pages-->
		<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/ServicesBg.jpg">
	</div>
  <div class="container-buttons">
  <div class="row">
    <div class="box1-buttons" id="myHeader">
    <a href="http://localhost:3000/adwords-1"><button>Adwords</button></a>
         <a href="http://localhost:3000/analytic-1"><button>Analytic</button></a>
         <a href="http://localhost:3000/cloudsolutions-1"><button>Cloud Solution</button></a>
         <a href="http://localhost:3000/digital-1"><button>Digital Workspace Solution</button></a>
         <a href="http://localhost:3000/mobileapp-1"><button>Mobile apps</button></a>
         <a href="http://localhost:3000/seo-1"><button>SEO</button></a>
         <a href="http://localhost:3000/webdev-1"><button>Web Development</button></a>
       </div>
  </div>
</div>	 
</section>


<div class="webdev-img">
    <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home4b.jpg" class="Img" />
</div>
<section id="webdev">
  <div class="row">
  <div class="box1">
    <p>What We Do? </p>
    <div class="grid-block">
      <div class="grid-item">
        <h1>Create a great and memorable experience for anyone visiting your
            website. Stand out from the crowd by showing the users that you
            actually care about them. Do you need help to create an efficient
            design and build a solid trust between the visitors and your
            brand?</h1>
      </div>
    </div>
  </div>
</div>
</section>
<script>
  window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky -90) {
    header.classList.add("stickyasd");
  } else {
    header.classList.remove("stickyasd");
  }
}
</script>