<section id="services-menu">
  <div class="services-menu-image"> <!--this is template image you can change it in every other services pages-->
    <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/ServicesBg.jpg">
  </div>
  <div class="container-buttons">
  <div class="row">
    <div class="box1-buttons">
    <a href="http://localhost:3000/adwords-1"><button>Adwords</button></a>
         <a href="http://localhost:3000/analytic-1"><button>Analytic</button></a>
         <a href="http://localhost:3000/cloudsolutions-1"><button>Cloud Solution</button></a>
         <a href="http://localhost:3000/digital-1"><button>Digital Workspace Solution</button></a>
         <a href="http://localhost:3000/mobileapp-1"><button>Mobile apps</button></a>
         <a href="http://localhost:3000/seo-1"><button>SEO</button></a>
         <a href="http://localhost:3000/webdev-1"><button>Web Development</button></a>
       </div>
  </div>
</div>
</section>   

<!--==========================
  SEO
============================-->
<section id="seo">
  <div class="box1">
    <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home7a.png">
  </div>
  <div class="box2">
    <h1>What We Do?</h1>
    <div class="grid-block">
      <div class="grid-item">
        <h2>affecting the visibility of a website or a web page in a search engine’s with
            natural method. We will help you to choose the best keyword, optimize the
            SEO of your site, maintain your content with develop relevant article, help to
            develop qualify back-link to your site.</h2>
      </div>
    </div>
  </div>
</section>
