<section id="services-menu">
  <div class="services-menu-image"> <!--this is template image you can change it in every other services pages-->
    <img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/ServicesBg.jpg">
  </div>
  <div class="container-buttons">
  <div class="row">
    <div class="box1-buttons">
    <a href="http://localhost:3000/adwords-1"><button>Adwords</button></a>
         <a href="http://localhost:3000/analytic-1"><button>Analytic</button></a>
         <a href="http://localhost:3000/cloudsolutions-1"><button>Cloud Solution</button></a>
         <a href="http://localhost:3000/digital-1"><button>Digital Workspace Solution</button></a>
         <a href="http://localhost:3000/mobileapp-1"><button>Mobile apps</button></a>
         <a href="http://localhost:3000/seo-1"><button>SEO</button></a>
         <a href="http://localhost:3000/webdev-1"><button>Web Development</button></a>
       </div>
  </div>
</div>
</section> 

<div class="adwords-image">
<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home3a.jpg" class="Img" />
</div>
<section id="adwords">
<div class="row" style="">
      <div class="col-md-12 h-50">
        <div class="box1">
          <h1>  What We do?</h1>
      </div>
    </div>

        <div class="col-md-8 h-50">

      <div class="transboxads">
        <p>  your marketing to Search Network or Goodle Display Network using google adwords according to your goals. We will help you to make the ads and prepare the landing pages that relevant with yoye business. We plan your Ad structure, manage your Ad, do monitoring and optimize your ads.</p>
      </div>
    </div>
    
    <div class="col-md-1 h-100"> 
    </div>
    
    <div class="col-md-3 h-100">
        <div class="leftbox">
          <p>  90%</p> 
          <div class="hc2">
          <p>people are looking for goods and services through search engine.</p>
        </div>
        </div>
    </div>
</div>
</section>