<section id="services-menu">
	<div class="services-menu-image"> <!--this is template image you can change it in every other services pages-->
		<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/ServicesBg.jpg">
	</div>
  <div class="container-buttons">
  <div class="row">
    <div class="box1-buttons" id="myHeader">
    <a href="https://crubiks-web.herokuapp.com/adwords-1"><button>Adwords</button></a>
         <a href="https://crubiks-web.herokuapp.com/analytic-1"><button>Analytic</button></a>
         <a href="https://crubiks-web.herokuapp.com/cloudsolutions-1"><button>Cloud Solution</button></a>
         <a href="https://crubiks-web.herokuapp.com/digital-1"><button>Digital Workspace Solution</button></a>
         <a href="https://crubiks-web.herokuapp.com/mobileapps-1"><button>Mobile apps</button></a>
         <a href="https://crubiks-web.herokuapp.com/seo-1"><button>SEO</button></a>
         <a href="https://crubiks-web.herokuapp.com/webdev-1"><button>Web Development</button></a>
       </div>
  </div>
</div>
</section>	

<section id="digital">
<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home5a.jpg" class="Img" />

<div class="box1">
	<h1>  What We do?</h1>	
</div>

<div class="transbox">
	<p>We are realize the good web must have a good design, features and good content, for that reason we provide a one stop solution of Solution. We provide complete web solutions ranging from web design, web programming, web maintenance and content creation services. FMG have the special division for web solution named WAJ, for the detail services you can get in</p>
</div>
</section>
<script>
  window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky -90) {
    header.classList.add("stickyasd");
  } else {
    header.classList.remove("stickyasd");
  }
}
</script>