<section id="services-menu">
	<div class="services-menu-image"> <!--this is template image you can change it in every other services pages-->
		<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/ServicesBg.jpg">
	</div>
  
	 <section id="services">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title"></h3>
            <div class="section-title-divider"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <a class="services-item">
              <div class="detail">
               <h1>Services</h1>

               </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/adwords1.png);" href="https://crubiks-web.herokuapp.com/adwords-1">
              <div class="detail">
                <h4>Adwords</h4>
                <h5>Run ads for your bussiness in Google and it's advertisement partner</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/analytics.png);" href="https://crubiks-web.herokuapp.com/analytic-1">
              <div class="detail">
                <h4>Analytics</h4>
                <h5>Insight about traffic and marketing effectiveness of your websites</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/cloudsolutions.png);" href="https://crubiks-web.herokuapp.com/cloudsolutions-1">
              <div class="detail">
                <h4>Cloud Solutions</h4>
                <h5>Cost-effective solution for web development</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/digitalsolution.png);" href="https://crubiks-web.herokuapp.com/digital-1">
              <div class="detail">
                <h4>Digital Workspace Solution</h4>
                <h5>Streamline operations and day-to-day activities</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/mobileapp.png);" href="https://crubiks-web.herokuapp.com/mobileapps-1">
              <div class="detail">
                <h4>Mobile Apps</h4>
                <h5>Responsive mobile application means a consistentexperience for users, wherever they are</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/seo.png);" href="https://crubiks-web.herokuapp.com/seo-1">
              <div class="detail">
                <h4>SEO</h4>
                <h5>Get you on the front page of Google to increase exposure</h5>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="services-item" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/webdev.png);" href="https://crubiks-web.herokuapp.com/webdev-1">
              <div class="detail">
                <h4>Web Development</h4>
                <h5>Design and develop meaningful and functional websites</h5>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
</section>