<div id="footer" class="footer">
     <div class="container">
         <div class="row">
             <div class="col-md-6 col-md-pull-2">
                 <h4 class="copyright">Copyright Crubiks 2017</h4>


             </div>

             <div class=" col-md-6 col-md-push-4">
                 <h4>Stay in touch</h4>
                 <a href="#"><i class="social fa fa-facebook" aria-hidden="true"></i></a>
                 <a href="#"><i class="social fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="social fa fa-google-plus" aria-hidden="true"></i></a>

             </div>
         </div>
     </div>
 </div>
