<div id="footer" class="footer">
     <div class="container">
         <div class="row">
            <div class="col-md-4 col-md-pull-2">
                <div class="box1">
                    <svg width="285" height="300">
                        <g>
                            <rect width="285" height="300" style="fill:#300F31;"></rect>
                            <text x="60" y="50" font-size="20px" fill="white">Ready to collaborate?</text>
                        </g>
                            <svg width="400" height="180">
                                <g>
                                    <rect x="80" y="100" width="150" height="50" style="fill:blue;stroke:pink;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                                    <a xlink:href="https://www.google.com" target="_top"></a>
                                    <text x="80" y="100" font-size="15px" fill="white">contact us</text>
                                </g>
                            </svg>
                     </svg>
                   
                </div>
            </div>

            <div class="col-md-4 col-md-pull-3">
                <h1>Contact Details</h1>
                <h2>info@crubiks.com</h2>
                <h3>Canada</h3>
                <h4>+1 (604) 396-2889</h4>
                <h5>Indonesia</h5>
                <h6>+62 (811) 750-899</h6>   
            </div>

            <div class="col-md-4 col-md-pull-2">
                <h1>Our Startup</h1>
                <a href="#">About</a>
                <br>
                <a href="#">Services</a>
                <br>
                <a href="#">Blog</a>
                <br>
                <a href="#">Careers</a>
                <br>
                <a href="#">Corporate Social Responsibility</a>
            </div>
                
            <div class="col-md-3 col-md-push-3">
                
                <div class="footer-icons">
                    <a href="#"><i class="social fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="social fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="social fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
        </div>
            <div class="col-md-4 col-md-pull-6">
                <div class="copyright">
                    <svg width="100vw" height="30">
                        <g>
                            <rect width="100vw" height="30" style="fill:#300F31;"></rect>
                            <text x="60" y="50" font-size="20px" fill="white">Copyright Crubiks 2017</text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div> 
</div>