<!--==========================
  Contact Section
============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us </h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Vancouver<br>Canada</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
                  <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                  </div>
                </div>


        </div>

      </div>

  </section>
<div id="footer" class="footer">
    <div class="row">
                <div class="box left">
                    <h1>Ready To Collaborate?</h1>
                    <div class="text-center"><button type="submit">CONTACT US</button></div>
                   
                </div>

                <div class="box right">
                    <div class="grid-block">
                        <div class="grid-item">
                            <h1>Contact Details</h1>
                            <div class="footer-contact-info">
                                <p>
                                    <a href="#">info@crubiks.com</a>
                                </p>
                                <div class="contact-item">
                                    <h1>Canada</h1>
                                    <h2>+1 (604) 396-2889</h2>
                                </div>
                                <div class="contact-item">
                                    <h1>Indonesia</h1>
                                    <h2>+62 (811) 750-899</h2>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item2">
                            <h1>Our Startup</h1>
                            <a href="#">About</a>
                            <br>
                            <a href="#">Our Cru</a>
                            <br>
                            <a href="#">Services</a>
                            <br>
                            <a href="#">Blog</a>
                            <br>
                            <a href="#">Careers</a>
                            <br>
                            <a href="#">Corporate Social Responsibility</a>
                        </div>
                        <div class="footer-icons">
                            <a href="#"><i class="social fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="social fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="social fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="social fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
    </div>

    <div class="container2">
        <div class="box3">
            <h3>Copyright &#169 2017 crubiks.Inc</h3>
        </div>     
    </div>      
</div>
   
           