 <div class="content-frame">

 <div class="content-frame-body col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <span class="fa fa-file-o"></span>
                       Create Job2
                    </h4>

                    <ul class="panel-controls">
                        <li><a class="panel-collapse" href="#"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                <div class="form-group">
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
